.find-by {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  margin: 2rem 0;
}
.find-by__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5rem;
  text-align: center;
}
.find-by__icon__text {
  margin-top: 1.5rem;
}
.find-by__icon:nth-child(2) .find-by__icon__text {
  margin-top: 1rem;
}
.recommended-friends {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}
.openchat {
  margin-top: 0.5rem;
}
.openchat__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--main-color-lightgray);
}
.openchat__info {
  display: flex;
  flex-direction: column;
}
.openchat__info__title {
  font-size: 1.4rem;
}
.openchat__info__subtitle {
  color: var(--text-color-gray);
  margin: 0.5rem 0;
}
.openchat__info__status {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: var(--text-color-gray);
}
.openchat__info__status > * {
  margin-right: 0.25rem;
}
.openchat__info__master__thumbnail {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
}
.openchat__info__active {
  color: var(--main-color-pink);
}
.openchat__cover {
  position: relative;
}
.openchat__cover__thumbnail {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 10%;
  object-fit: cover;
}
.openchat__cover__likes {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: white;
  font-size: 0.8rem;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  background-color: #00000080;
}
