#friends_name_display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  color: var(--main-color-gray);
  background-color: var(--main-color-lightgray);
  margin-top: -0.5rem;
}
#friends_name_display__text {
  margin: 0 0.5rem;
  color: var(--text-color-black);
}
@keyframes splash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  background-color: var(--main-color-yellow);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 100;
  animation: splash 0.5s ease-in-out forwards 1.3s;
}
